#sidebar.custom-bar
  %ul{:style => "list-style: none;"}
    %li
      = link_to 'Store Location', new_admin_wysiwyg_path + "?name=storeloc"
    %li
      = link_to 'FAQ', new_admin_wysiwyg_path + "?name=faq"
    %li
      = link_to 'About', new_admin_wysiwyg_path + "?name=about"
    %li
      = link_to 'Shipping Prices', new_admin_wysiwyg_path + "?name=shipping"
    %li
      = link_to 'Sizes', new_admin_wysiwyg_path + "?name=size"

