#footer
  = link_to 'TrueJersey.com', 'http://www.truejersey.com'
  = link_to 'Sizes Chart', '/size_charts'
  = link_to 'Shipping', '/shipping'
  = link_to 'Store Location', '/storeloc'
  = link_to 'About', '/about'
  = link_to 'F.A.Q.', '/faq'
  = link_to 'Contact', '/contacts/new'
  %br/
  %p
    %b
      Site and contents 2010 Age of Revolt / Shady Front Syndicated Holdings 
  
= render 'shared/google_analytics'
